@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.panel-body
{
	height: 100px;
	margin-top: 40px;
	background-color: green;
	color: white;

}

.text-right
{
	text-align: right;
}

header
{
	margin-left: 35%;
}

header nav ul li 
{
	background-color: #31B404;
}

header nav ul li a
{
	color: white;
	border-radius: 2px;
}

.text-background
{
	color: white;
	background-color: green;
}
